<header class="header">
  <div class="logo">{{ shop.name }}</div>
  <nav>
    <a href="/collections/all">SHOP</a>
    <a href="/pages/lookbook">LOOKBOOK</a>
    <a href="/pages/about">ABOUT</a>
  </nav>
</header>
