<section class="hero">
  <img src="{{ section.settings.image | image_url: width: 2000 }}">
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    { "type": "image_picker", "id": "image", "label": "Image" }
  ]
}
{% endschema %}
