<section class="products">
  {% for product in collections.all.products limit: 6 %}
    <div class="product">
      <a href="{{ product.url }}">
        <img src="{{ product.featured_image | image_url: width: 800 }}">
        <p>{{ product.title }}</p>
        <span>{{ product.price | money }}</span>
      </a>
    </div>
  {% endfor %}
</section>
